<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to instagramEd!{% endblock %}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

        <script src="static/js/instagram_vue.js"></script>

        {% block stylesheets %}
            {%  stylesheets
                '../web/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
            filter='cssrewrite' package='css' output='static/css/instagram.css' %}
            <link rel="stylesheet" href="{{ asset_url}}">
            {%  endstylesheets  %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            {% javascripts
            '../web/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
            package='js'    output='static/js/instagram.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
