{% extends 'base.html.twig' %}

{% block body %}


    <div id="container">
        <div id="header">
            <div id="post_number">
                Post: #post
            </div>
            <div id="export">
                <input type="button" value="Export" />
            </div>
            <div id="views_number">Views: #views</div>
        </div>

        <div id="replay_box">

        </div>

        <div id="posts">

        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        #container{
            width: 100%;
        }
        #header{
            width: 100%;
        }
        #post_number, #export, #views_number{
            width: 33%;
            float: left;
            text-align: center;
        }

    </style>
{% endblock %}
