#container{
    width: 80%;
    float: none;
    margin:auto;
}
#header{
    margin: 20px 0;
}
#post_number, #export, #views_number{
    text-align: center;
}

#reply_box .uploadField { margin-bottom: 10px; }
